#headertop{
	background: yellowgreen;
	margin: 0;
	width: 100%;
	height: 85px;
}
h1 { color: #0000FF; cursive;  font-size: 64px; line-height: 64px
	font-weight: normal; margin-bottom: 0px; margin-top: 40px;
	 text-align: center; text-shadow: 0 1px 1px #fff; }