table {margin: 0 auto;}
body {
  margin: 0;
  background: #F4F1F8;
}
table {
   width: 75%;
  border-collapse: collapse; 
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background:  radial-gradient(farthest-corner at 100% 100%, white, #DCECF8);
  color: #0C213B;
}
caption:before, caption:after {
  content: "\274B";
  color: #A9E2CC;
  margin: 0 10px;
}
th { 
  width: 150px;
  padding: 10px; 
  border: 1px solid #A9E2CC;
}
td {
  text-align: center;
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #A9E2CC;
}
.first {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}